<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Covid19_vaccination_certificate</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
    <div class="conf-content">
        <div class="header">
            <div class="conf-img-container">
                <img class='confirmation-img' src="/images/confirmation.png" alt="confirmation.img">
            </div>
            <div class="header-text">
                <span>Сертификат за COVID-19 вакцинација</span>
                <span> / </span>
                <span>COVID-19 VACCINATION CERTIFICATE</span>
            </div>
        </div>
        <div class="conf-info">
        <div class="conf-field">
            <span>Име / Name</span>
            <span class="conf-field-text"><%= patient.name %></span>
        </div>
        <div class="conf-field">
        <span>Презиме / Surname</span>
            <span class="conf-field-text"><%= patient.surname %></span>
        </div>
        <div class="conf-field">
        <span>Вакцина / Vaccine</span>
            <span class="conf-field-text"><%= patient.vaccine %></span>
        </div>
        <div class="conf-field">
        <span>Датум на апликација / Application date</span>
            <span class="conf-field-text"><%= patient.application_date %></span>
        </div>
        <div class="conf-field">
        <span class="conf-field-divider">____________</span>
        </div>
        <div class="conf-id">
        <span>Единствена Шифра на Сертификатот / Unique Vaccination Certificate/Assertion Identifier (UVCI):</span>
        </div>
        <div class="conf-field">
            <span class="conf-field-text"><%= patient.certificate_code %>></span>
        </div>
        </div>
    <div class="footer">
        <p class="footer-text">Податоците се обезбедени преку системот </p>
        <img class="footer-logo" src="/images/moj-termin-logo.png" alt="">
    </div>
    </div>
    </body>

</html>